<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>

        <img src="{{ site.photo }}" alt="Photo" />

        <p>{{ site.description }}</p>
        <ui>
          <li>
            <i class="fa fa-map-marker"> Portland, OR</i>
          </li>
          <li> 
            <i class="fa fa-envelope"> martyall at protonmail dot com</i>
          </li>
          <li>
            <i class="fa fa-github"><a href="{{ site.github.owner_url }}"> martyall</a></i>
          </li>
          <li>
            <i class="fa fa-file"><a href="{{ site.resume }}" target="_blank"> resume</a></i>
          </li>
        </ui>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
